.home{
    width: 500px;
    margin:0 auto; 
}

.sweet{
    width: 500px;
    margin:0 auto; 
}

.comment{
    width: 500px;
    margin:0 auto; 
}

.region{
    width: 500px;
    margin:0 auto; 
}

.prefecture{
    width: 500px;
    margin:0 auto; 
}

.create{
    width: 500px;
    margin:0 auto; 
}

.edit{
    width: 500px;
    margin:0 auto; 
}
.show{
    width: 500px;
    margin:0 auto; 
}